<div class="dashboard">
  <div class="dashboard-top">
    <div class="card row-span-2">
      <app-habit-list></app-habit-list>
    </div>

    <div class="card">
      <div class="card-header">
        <mat-icon class="card-icon">trending_up</mat-icon>
        <span class="card-title">Статистика за день</span>
      </div>
      <app-streak-chart></app-streak-chart>
    </div>

    <div class="card">
      <div class="card-header">
        <mat-icon class="card-icon">emoji_events</mat-icon>
        <span class="card-title">Топ привычек</span>
      </div>
      <app-habit-top></app-habit-top>
    </div>

    <div class="card challange no-pad">
      <app-habit-challenge></app-habit-challenge>
    </div>
  </div>

  <div class="dashboard-bottom">
    <div class="card">
      <div class="card-header">
        <mat-icon class="card-icon">calendar_month</mat-icon>
        <span class="card-title">Календарь привычек</span>
      </div>
      <app-calendar></app-calendar>
    </div>
  </div>
</div>
